body {
    background-color: aquamarine;
}

table {
    background-color: aqua;
    width: 100%;
}

th {
    background-color: darkcyan;
}

td, th {
    padding: 5px;
}

td:nth-child(1), td:nth-child(2) {
    background-color: cadetblue;
}

th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4) {
    display: none;
}

@media (min-width: 480px) {
    th:nth-child(3), td:nth-child(3) {
        display: table-cell;
    } 
}

@media (min-width: 768px) {
    th:nth-child(4), td:nth-child(4) {
        display: table-cell;
    }
}