
body {
    background-image: url("../img/mac720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    body {
        background-image: url("../img/mac1024.jpg");
    }
}

@media (min-width: 1100px) {
    body {
        background-image: url("../img/mac2304.jpg");
    }
}